<div class="table-container">
  <div class="table-container-header">
      <table class="table table-bordered">
         <thead>
            <tr>
         <th scope="col">NAME</th>
         <th scope="col">PHONE</th>
         <th scope="col">EMAIL</th>
         <th scope="col">COMPANY</th>
         <th scope="col">STREET</th>
         <th scope="col">CITY</th>
         <th scope="col">ACTION</th>
         </tr>
         </thead>
      </table>
   </div>
  <div class="table-container-body">
      <table class="table table-bordered">
     <thead>
         <tr>
         <td colspan="6">
           Page  Size:  <select id="PgSize"  ngModule="[(PageSize)]" (change)="onChange($event.target.value)">
      <option value=10>10</option>
      <option value=20>20</option>
      <option value=50>50</option>
      <option value=100>100</option>
      <option value=250>ALL</option>
    </select>
         </td>
         </tr>
       </thead>
    <tbody>
     <tr *ngFor="let res of pagedItems" scope="row">
      
       <td>{{res.name}}</td>
       <td>{{res.phone | phonenumber}}</td>
       <td>{{res.email}}</td>
       <td>{{res.company}}</td>
       <td>{{res.address_1}}</td>
       <td>{{res.city}}</td>
       <td><input type="button" value="Submit"  alt="{{res.id}}" (click)="postResponse($event.target.alt,$event.target.title)" title="{{res.status}}"/></td>
     </tr>
    </tbody>
    <tfoot>
      <tr scope="row">
        <td colspan="5" >
          <!-- pager -->
          <div>

          </div>
        </td>
      </tr>
    </tfoot>
   </table>
   </div>
 <div class="table-container-footer">
      <div class="container">
        <div class="text-center">
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item" >
                    <a  class="page-link" (click)="setPage(1,pager.pageSize)">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
                    <a class="page-link" (click)="setPage(pager.currentPage - 1,pager.pageSize)">Previous</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
                    <a class="page-link" (click)="setPage(page,pager.pageSize)">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                    <a class="page-link" (click)="setPage(pager.currentPage + 1,pager.pageSize)">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
                    <a class="page-link" (click)="setPage(pager.totalPages,pager.pageSize)">Last</a>
                </li>
            </ul>
        </div>
    </div>
   </div>

</div>
    

